@import "../../../scss/variables";

.addTodoInput {
  padding: 16px 0;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 24px;

  &::placeholder {
    font-style: italic;
    color: $placeholderColor;
  }
}
